.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 128px;
}

.about__content {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 0 140px;
}

.about__left {
  width: 100%;
}

.about__right {
}

.heading__1--mobile {
  text-align: left;
}

.about__text {
  line-height: 1.4;
}

.about__link {
  text-decoration: none;
  color: #4974a5;
  transition: color 0.3s ease-out;

  &:hover {
    color: #ccc;
  }
}

.skills {
  margin-bottom: 128px;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 306px);
  justify-content: center;
  grid-auto-flow: row;
  gap: 24px;
  margin-top: 60px;
}

.skill__wrapper {
  background-color: #1C1E22;
  border-radius: 8px;
  padding: 24px;
}

.skill__text {
  font-size: 16px;
  line-height: 1.75;
}

@media (max-width: 1270px) {
  .about__content {
    gap: 0 70px;
  }
}

@media (max-width: 1200px) {
  .about__content {
    gap: 0 35px;
  }
}

@media (max-width: 1190px) {
  .about__text {
    font-size: 0.8em;
  }

  .about__content {
    grid-template-columns: 360px 1fr;
    gap: 70px 0;
  }
}

@media (max-width: 1165px) {
  .margin-bottom--32 {
    margin-bottom: 16px;
  }
  .about__content {
    gap: 15px;
  }
}

@media (max-width: 787px) {
  .about__text {
    font-size: 1em;
  }

  .about__content {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .about__left {
    max-width: 320px;
  }

  .heading__1--mobile {
    text-align: center;
  }
}

@media (max-width: 670px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
}
