@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
