.projects {
  display: block;
}

.project__wrapper {
  margin-bottom: 128px;
}

.project__heading-container {
  padding: 64px 0;
}

.projects__image {
  width: 100%;
  margin-top: 24px;
}

.projects__image--colors {

}
