.footer {
  padding-bottom: 32px;
}

.footer__top {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__title,
.footer__menu-item {
  text-decoration: none;
}

.footer__menu-item {
  margin-top: 24px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__social-icon {
  display: inline-flex;
  justify-content: center;
  height: 34px;
  background-color: transparent;
  border: none;
  margin-left: 16px;
  cursor: pointer;

  &:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .footer {
    text-align: center;
  }

  .footer__logo {
    margin: 32px 0;
  }

  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__menu {
    padding-bottom: 32px;
  }
}
